<!-- Footer (Votes / Stats) -->
<div class="py-2 flex items-center justify-between text-sm text-zinc-400">

    <div class="flex items-center justify-between text-sm text-zinc-400">
        <div class="flex items-center gap-3">
            <span>By <span class="text-zinc-300 font-medium">{{ username }}</span>
            <span>•</span>
            <span>{{ created_at.strftime('%Y-%m-%d %H:%M:%S') }}</span>
        </div>

        {% if session.get("user_id") == author_id %}
            <div class="flex items-center gap-4">
                <!-- <a href="#" class="hover:text-white transition">Edit</a> -->
                <a href="#" class="hover:text-red-400 transition">Delete</a>
            </div>
        {% endif %}
    </div>

    <div class="flex items-center gap-6 text-sm text-zinc-400">
        <div>
            <button class="reply rounded p-2 hover:text-emerald-400 cursor-pointer"/ data-post-id="{{ post_id }}"
                {% if not is_post %}
                    data-comment-id="{{ comment_id }}"
                {% endif %}">Reply
            </button>
                <!-- <button class="reply rounded p-2 hover:text-emerald-400 cursor-pointer"/>Reply</button> -->
        </div>
        <div>
            <span>{{ qnt_replies }} comments</span>
        </div>
        <div class="flex items-center gap-6 text-sm">
            <div class="flex items-center gap-2">
                <button 
                    class="hover:text-white transition" 
                    hx-post="/api/post/upvote/{{ post_id }}" 
                    hx-target="#vote-count-{{ post_id }}" 
                    hx-swap="innerHTML">▲
                </button>
                <span id="vote-count-{{ post_id }}" 
                    class="{% if votes > 0 %} text-emerald-400 {% elif votes < 0 %} text-red-400 {% else %} text-zinc-400 {% endif %} font-medium">
                    {{ votes or 0 }}
                </span>
                <button 
                    class="hover:text-white transition"
                    hx-post="/api/post/downvote/{{ post_id }}" 
                    hx-target="#vote-count-{{ post_id }}" 
                    hx-swap="innerHTML">▼
                </button>
            </div>
        </div>
    </div>
</div>
