{% extends "base.html" %}

{% block content %}
<div class="min-h-[70vh] flex items-center justify-center px-4">
    
    <div class="w-full max-w-md bg-zinc-900 border border-zinc-800 rounded-xl p-8 shadow-lg">

        <h2 class="text-2xl font-semibold text-emerald-400 mb-6 text-center">
            Login
        </h2>

        <form method="POST" class="space-y-5">

            <!-- Email -->
            <div>
                <label class="block text-sm text-gray-400 mb-2">
                    Email
                </label>
                <input 
                    type="email"
                    name="email"
                    required
                    class="w-full px-4 py-2 bg-zinc-950 border border-[#30363d] rounded-md text-gray-200 
                           focus:outline-none focus:border-emerald-500 focus:ring-1 focus:ring-emerald-400 
                           transition"
                >
            </div>

            <!-- Password -->
            <div class="mb-10">
                <label class="block text-sm text-gray-400 mb-2">
                    Senha
                </label>
                <input 
                    type="password"
                    name="password"
                    required
                    class="w-full px-4 py-2 bg-zinc-950 border border-[#30363d] rounded-md text-gray-200 
                           focus:outline-none focus:border-emerald-500 focus:ring-1 focus:ring-emerald-400 
                           transition mb-6"
                >
            </div>

            <!-- Button -->
            <button 
                type="submit"
                class="w-full bg-emerald-400 hover:bg-[#27ae60] text-black font-semibold py-2 rounded-md 
                       transition duration-200 mt-1"
            >
                Entrar
            </button>

        </form>

        <!-- Register link -->
        <p class="mt-6 text-sm text-gray-500 text-center">
            Não tem conta? 
            <a href="/register" 
               class="text-emerald-400 hover:underline ml-1">
               Criar conta
            </a>
        </p>

    </div>

</div>
{% endblock %}