input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #09090b inset !important;
    -webkit-text-fill-color: #e5e7eb !important;
}

#toast {
    transition: opacity 0.5s ease;
}   
